@model staffstudent.Core.staffEntity.studentcheck
@{
    ViewData["Title"] = "Studentlogin";
}

<h1>Studentlogin</h1>

<body>
    <div class="container">
        <div class="row vertical-offset-100">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @using (Html.BeginForm("Studentlogin","Staffmanagement",FormMethod.Post, new { id = "loginform" }))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.StudentRollNo, new { @id = "admin", @class = "form-control", placeholder = "Roll number" })
                                    @Html.ValidationMessageFor(m => m.StudentRollNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <button type="submit" onclick="SubmitDetails()" class="btn-block btn btn-lg btn-success">Login</button>
                                </div>
                            }
                        </fieldset>
                        @Html.ActionLink("Back-to main-login", "Mainpage", "Staffmanagement")
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
@if (TempData["Wrongcredential"] != null)
{
    <script>
   alert("@Html.Raw(@TempData["Wrongcredential"].ToString()) ");
    </script>
}
@if (TempData["nomarklist"] != null)
{
    <script>
        alert("@TempData["nomarklist"]");
        </script>
}