@model IEnumerable<staffstudent.Core.staffEntity.StudentMarkEntity>

@{
    ViewData["Title"] = "StudentmarkShow";
}
<div class="container">
    <h5>StudentmarkShow</h5>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>Student Roll Number</label>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tamil)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.English)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Science)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Maths)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Average)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student_Roll_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tamil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.English)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Science)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Maths)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Average)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h5 style="color:darkred">Number of student mark list added = @Model.Count()</h5>
    <div>
        @Html.ActionLink("Back-to-student-Dashboard", "Studentdashboard", "Staffmanagement", new { }, new { @class = "btn btn-lg btn-primary" })
    </div>
    <style>
        th {
            color: darkred;
        }
    </style>
    </div>